.list-component {

	.list-widget {
		overflow: hidden;
	}

	.list-container {
		padding: @component-padding;
	}

	.list-item {
		position: relative;
		clear: both;
		overflow: auto;
		display: table;
	}

	.list-item-image {
		padding: @item-padding;
		display: table-cell;
    vertical-align: middle;
		img {
			max-width: none;
		}
	}

	.list-item-title {
		padding: @item-padding;
		display: table-cell;
    vertical-align: middle;
		text-align: left;
		.dir-rtl & {
			text-align: right;
		}
	}

	&.is-animated-list {
		.list-item {
			right: -100%;
			opacity: 0;
			-webkit-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;
			.dir-rtl & {
				right: inherit;
				left: -100%;
			}
			&.animate {
				right: 0;
				opacity: 1;
				.dir-rtl & {
					right: inherit;
					left: 0;
				}
			}
		}
	}

}
